<body>

    <div class="container">
      <div class="header clearfix">
        
      </div>

<div class="jumbotron">
        <h1>About Financial Market Issues</h1>
        <p class="lead">Financial Market Issues (FMI) is a site developed by LR Research to keep track of the current hottest topics across as many markets as possible.  The community voting feature helps identify where consensus is at any given moment in time</p>
        <p><%= link_to "Sign up Today", new_user_registration_path, class: "btn btn-lg btn-success", role: "button"%></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Access</h4>
          <p>Access is free to all registered accounts.</p>

          <h4>Asset Classes</h4>
          <p>We provide issues for equities (individually and index level), fixed income and currencies. </p>

          <h4>Living Lists</h4>
          <p>List items are updated regularly to remove issues that no longer apply and to add new issues.</p>
        </div>

        <div class="col-lg-6">
          <h4>Links to external sources</h4>
          <p>Each list item has supporting links to supportive articles and documentation.</p>
          <h4>Showcase</h4>
          <p>FMI is a showcase of LR Research's capabilities in launching web apps.  We work closely with clients to deliver research and fund critical data in a secure cloud environment.</p>

          <h4>Team</h4>
          <p>The FMI team is made up a former portfolio managers and investment analysts with decdes of experience managing money and generating investment ideas.</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2017 LR Capital Ltd.</p>
      </footer>

    </div> <!-- /container -->
    </body>