<body>

    <div class="container">
      <div class="header clearfix">
        
      </div>

<div class="jumbotron">
        <h1>VIP access at Financial Market Issues</h1>
        <p class="lead">As a VIP client, in addition to all the features of a free account you can request research directly from the LR Research team.</p>
        <p><%= link_to "Sign up Today", new_user_registration_path, class: "btn btn-lg btn-success", role: "button"%></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>How to become VIP</h4>
          <p>Contact us directly to learn about the VIP feature and how it could work for you.  <a href="mailto:info@lrisuk.com">Click here to email us.</a></p>

          <h4>Pricing</h4>
          <p>Pricing is entirely granular based upon the number of requests you require. </p>

          <h4>Extra feautures</h4>
          <p>VIP status gives you access to more in depth background reserach on each list, and allows you to keep list items for your own consumption if you have requested them.</p>
        </div>

        <div class="col-lg-6">
          <h4>Future plans</h4>
          <p>We keep adding new features to VIP accounts.  Please contact us if you have a specific feature request.</p>
          <h4>Get more done</h4>
          <p>VIP clients view us as a natural extension of their research team.  We can provide a rapid analysis of any issue in any geography.</p>

          
        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2017 LR Capital Ltd.</p>
      </footer>

    </div> <!-- /container -->
    </body>