<% content_for :title do %>About<% end %>
<div class = "newsingle">
<h3>About the Website</h3>
<h4>An interactive application looking at the top investment issues by country, sector, stock or other growuping.  Community can upvote and source documents are listed in each list.</h4>
<h4>The list, should be viewed as living lists as they are continually updated.
<p></p>
<p><sub>
This web application was created with
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
<sub></p>
</div>
