<% content_for :title do %>About<% end %>
<div class = "newsingle">
<h3>About Market Issues</h3>
<p></p>
<h4>An interactive application looking at the top investment issues by country, sector, stock or other grouping.</h4>
<h4>List items are carefully curated by our expert contributors </h4>
<h4>  Our community can vote about the importance of an issue and source documents are listed for each list.</h4>
<h4>These lists should be viewed as 'living' lists as they are continually updated.</h4>
<p></p>

</div>
