<% content_for :title do %>About<% end %>
<div class = "newsingle">
<h3>About Market Issues</h3>
<h4>An interactive application looking at the top investment issues by country, sector, stock or other grouping.</h4>
<h4>List items are carefully curated by our expert contributors </h4>
<h4>  Our community can upvote and source documents are listed in each list.</h4>
<h4>The lists should be viewed as living lists as they are continually updated.</h4>
<p></p>

</div>
