// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media(min-width:910px) {
img {
    max-width: 100%;
    max-height: 100%;
}

.portrait {
    height: 800px;
    width: 300px;
    margin: auto;
    background-color: #f0f9ff;
}

.landscape {
    height: 300px;
    width: 800px;
    margin: auto;
}

.square {
    height: 750px;
    width: 750px;
    margin: auto;
    background-color: #f0f9ff;
}

.framed {
		width: 910px;
		margin:auto;
    background-color: #f0f9ff;
    padding-top: 30px;
    padding-bottom: 30px;
    border: solid 5px #82cffa;
    border-radius: 10px;
}

.supplemental {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
}
.recentissues {
    tr:hover {background-color: #f5f5f5}
}
.recentissues td, th { 
    width: 20%;
    padding: 5px;
    border-bottom: 1px solid #ddd;

}

#search_q {
    width: 90%;
}