/*  styling the company name
*/

/* spinner
*/

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
 /*

 */

 .boolean label {
 	font-weight: bold;
 }

.alert-notice {
	background-color: #ccffcc;
}

.listhead {
	background-color: #f0f9ff;
}

.largetable {
	overflow: auto;
	overflow-y: hidden;
}

.arrow {
	display: inline-block;
}

.pdf {
	height:35px;
	width: 30px;
}

#myCarousel {
	padding-top: 55px;
}

#fmibrand {
	position: relative;
	bottom: 11px;
	color: #ffffff;
}

.newindex, 
.newsingle {
	margin-top: 4em;
	margin-left: 2em;
	margin-right: 2em;
}
.newindex h4 {
	margin-left: 3em;
	margin-right: 2em;
}

.newsingle {
	background-color: #f0f9ff;
	border-style: solid;
	border-color: #82cffa;
	border-radius: 10px;
	padding: 1em;
}



/* Styling an issue
*/

.issue h3,
.issue h4 {
	text-align: center;
	color: #1A228F;
}

#issView {
	padding-top: 0.75em;
	background-color: #f0f9ff;
	border-top-style: solid;
	border-top-color: #82cffa;
}

@media(min-width:910px) {
#issDesc{
	margin-left: 10%;
	margin-right: 10%;
}
#issView {
	margin-left: 15%;
	margin-right: 15%;
}
#issDesc h4,
#issView h5{
	color: #000000;
	margin-left: 0.75em;
}

#issDesc h4 {
	text-align: left;
}





}

@media(max-width:640px)  {
	.btn-lg {
	padding:2px 4px;
    font-size:80%;
    line-height: 1;
}

.carousel-caption h1 {
	font-size: 80%;
}

.jumbotron {
	padding-top: 70px;
}
}

.issue h5,
.sources h5 {
	color: #1A228F;
	margin-left: 5em;
}

.issue h6 {
	margin-left: 4em;
	margin-right: 4em;
}

#linkbackissues {
	margin-right: 2em;
	text-align: right;
}

.supplemental {
	text-align: right;
	margin-right: 2em;
}

.supplemental h4 {
	text-align: center;
}

/* Styling comment cards
*/

.commentary {
	margin-top: 1em;
	box-shadow: 5px 5px 2.5px #888888;
	border:1px solid #000000;
}

.commentary h5 {
	margin-left: 1em;
	margin-right: 1em;
}

.authorship {
	margin-left: 2em;
}

.addcomment {
	margin-left: 2em;
	margin-right: 2em;
	background-color: #787987;
}
.addcomment1 {
	margin: 2em 2em 2em 2em;
	padding-bottom: 2em;
}

.emojihov {
	cursor: pointer;
}


/* All tables styling
*/

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 5px 5px 2.5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-left-radius:7px;
	
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-right-radius:7px;
	
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
	
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
	
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-right-radius:7px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-left-radius:7px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#aad4ff; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:5px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:15px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
#sortissues thead tr th:nth-child(2),
#sortissues thead tr th:nth-child(3),
#sortissues thead tr th:nth-child(4),
#sortissues thead tr th:nth-child(5),
#sortissues thead tr th:nth-child(6),
#sortissues thead tr th:nth-child(7),
#sortissues thead tr th:nth-child(8)
{
	text-align: center;
}
#sortissues tr td:nth-child(2),
#sortissues tr td:nth-child(3),
#sortissues tr td:nth-child(4),
#sortissues tr td:nth-child(5),
#sortissues tr td:nth-child(6),
#sortissues tr td:nth-child(7),
#sortissues tr td:nth-child(8) {
  text-align: center;
}
#catsort tr td:nth-child(1),
#catsort tr td:nth-child(2),
#catsort tr td:nth-child(3),
#catsort tr td:nth-child(4),
#catsort tr td:nth-child(5),
#catsort tr td:nth-child(6),
#catsort tr td:nth-child(7) {
  text-align: center;
}

.tablesorter thead .disabled {display: none}
/* Table style ends
*/

.carousel-inner > .item > img {
  width:100%;
  height:80%;
}

.assessment,
.sources {
	margin-left: 15%;
	margin-right: 15%;
}

.assessment h4 {
	text-align: center;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #f0f9ff;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.explain {
	text-align: right;
}

#myBtn {
    background-color: #82cffa; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}